<h2>Proto/taculous Examples</h2>

<h2>Prototype</h2>
<ul>
  <li><%= link_to "Client-side validation", :action => "validation" %></li>
  <li><%= link_to "Server-side validation", :action => "server_validation" %></li>
  <li><%= link_to "Server-side validation with updater", :action => "server_validation_with_updater" %></a></li>
  <li><%= link_to "Chat", :action => "chat" %></li>
  <li><%= link_to "Form Observer", :action => "form_observer" %></li>
  <li><%= link_to "$ and $$", :action => "dollars" %></li>
</ul>

<h2>Scripty</h2>
<ul>
  <li><%= link_to "Core Effects", :action => "core_effects" %></li>
  <li><%= link_to "Morph", :action => "morph" %></li>
  <li><%= link_to "Autocomplete", :action => "autocomplete" %></li>
  <li><%= link_to "Sortable", :action => "sortable" %></li>
  <li><%= link_to "Sound", :action => "sound" %></li>
</ul>

<h2>Object Model</h2>
<ul>
  <li><%= link_to "Extend", :action => "extend" %></li>
</ul>

<h2>Ecosystem</h2>
<ul>
  <li><%= link_to "Xilinus Prototype Portal", :action => "portal" %></li>
</ul>    