<h2>Prototype and Scriptaculous Examples</h2>

<ul>
  <li><%= link_to "Client-side validation", :action => "validation" %></a></li>
  <li><%= link_to "Server-side validation", :action => "server_validation" %></a></li>
  <li><%= link_to "Server-side validation with updater", :action => "server_validation_with_updater" %></a></li>
  <li><%= link_to "Chat", :action => "chat" %></a></li>
  <li><%= link_to "Xilinus Prototype Portal", :action => "portal" %></a></li>
</ul>
